{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">

<link rel="stylesheet" href="{%static 'user_registration/css/homepage.css' %}">
<link rel="stylesheet" href="{%static 'user_registration/css/index.css' %}">
<link rel="stylesheet" href="{%static 'user_registration/css/style.css' %}">
     </head>
 <body>
   <div class="container">
        <!-- Page Content goes here -->
        {% block content %}
        {% endblock %}
        <!-- jQuery library -->

  </div>
 </body>
</html>
